/* Base Styles */

:root {
    font-size: 10px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", Arial, sans-serif;
    min-height: 100vh;
    background-color: #fafafa;
    color: #262626;
    padding-bottom: 3rem;
}

img {
    display: block;
    width: 300px;
    height: 300px;
}

.profile img:nth-of-type(1){
 object-fit:cover;
width: 300px;
height: 300px;
border-radius: 50%;
border: 10px solid rgb(28, 78, 28) ;
}
